JWT_SECRET="supersecret-hospital-key-2026"
PORT=4000
DATABASE_URL="postgresql://root:123456@localhost:5432/qr_menu_db?schema=public"
# online neon database 
# DATABASE_URL="postgresql://neondb_owner:npg_wErvFh72iUWl@ep-sweet-leaf-atx1rbj8-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
FRONTEND_URL='http://192.168.1.12:3000'
# Cloudinary
CLOUDINARY_CLOUD_NAME=dmafjwawt
CLOUDINARY_API_KEY=111535793578121
CLOUDINARY_API_SECRET=lNw6Ykg77Ym8VNtUooj085uYbzo
CLOUDINARY_UPLOAD_PRESET=qr_menu_uploads